@page "/"

<PageTitle>Home</PageTitle>

<h1>Witaj na stronie dotyczącej instrumentów muzycznych!</h1>

Totaj dowiesz się wielu ciekawych informacji dotyczących Gitar i nie tylko.
Przejdź do odpowiedniej zakładki a sam się przeekonasz.
